.car-card {
    margin-bottom: 22px;
}
.v-card-title {
    font-size: 1.375rem;
    margin-bottom: 12px;
}

.vehicle-details-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3E3E380;
    padding: 12px 0;
}

.vehicle-details-row .title-th {
    text-transform: capitalize;
}