.insurance-card {
    padding: 20px;
    background: #F5F3EB;
    border-radius: 8px;

}

.subtitle {
    font-size: 0.875rem;
}

.insurance-image img {
    width: 57px;
    height: 57px;
    border-radius: 50%;    
    object-fit: cover;
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.card-row-2 {
    display: flex;
}

.card-row-2 .policy-number {
    width: 50%;
    padding-left: 38px;
}

.card-row-2 .policy-number:first-child {
    padding-left: 0;
}

.ins-title {
    font-size: 1.375rem;
}
.policy-number .title {
    font-size: 0.93rem;
    color: #565656;
}