.card-item {
    background: #F5F3EB;
    padding: 16px 20px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 22px;
}

.icon-kpi img {
    width: 22px;
    height: 22px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.icon-kpi {
    background: #fff;
    padding: 9px;
    border-radius: 50%;
    margin-bottom: 48px;
}

.col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
}

.kpi-value {
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    align-items: center;
}

img.rs-icon {
    width: 20px;
    height: 22px;
    margin-right: 8px;
}

.kpi-label {
    font-size: 0.8125rem;
}